
/* Your CSS Code here. */
.rightAlign{
	text-align:right;
	
	
}

.table-dark{
	background-color:black;
	color:white;
}



.table-responsive{
}

.table-hover {background-color: coral;}
caption{
	text-align:left;
}

.table-light{
	
}
.table{
	
}