
/* Your CSS Code here. */
.rightAlign{
	text-align:right;
	
	
}

.table-dark{
	background-color:black;
	color:white;
}

.table-responsive{
}

tr:hover {background-color: coral;}
caption{
	text-align:left;
}

